In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_rows', 200)

In [3]:
school_data_df = pd.read_csv("Resources/schools_complete.csv")
school_data_df.shape

(15, 5)

In [4]:
student_data_df = pd.read_csv("Resources/students_complete.csv")
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
pd.set_option('display.max_rows', 200)

In [6]:
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [7]:
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [8]:
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [9]:
missing_df = pd.read_csv(r"C:\Users\mahmo\Downloads\missing_grades.csv")

In [10]:
missing_df['student_name'].str.strip('Dr.')

0       Paul Bradley
1       Victor Smith
2    Kevin Rodriguez
3      Richard Scott
4         Bonnie Ray
5      Bryan Miranda
6       Sheena Carte
7        Nicole Bake
Name: student_name, dtype: object

In [11]:
missing_df[['first name', 'last name', 'None']]=missing_df['student_name'].str.split(' ', expand=True)

In [12]:
missing_df.drop('None', axis=1)

,Student ID,student_name,gender,grade,reading_score,math_score,first name,last name
0,0,Paul Bradley,M,9th,66.0,79.0,Paul,Bradley
1,1,Victor Smith,M,12th,94.0,61.0,Victor,Smith
2,2,Kevin Rodriguez,M,12th,NaN,60.0,Kevin,Rodriguez
3,3,Dr. Richard Scott,M,12th,67.0,58.0,Dr.,Richard
4,4,Bonnie Ray,F,9th,97.0,84.0,Bonnie,Ray
5,5,Bryan Miranda,M,9th,94.0,NaN,Bryan,Miranda
6,6,Sheena Carter,F,11th,82.0,80.0,Sheena,Carter
7,7,Nicole Baker,F,12th,96.0,69.0,Nicole,Baker

In [13]:
missing_df.dropna(inplace=True)

In [14]:
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [15]:
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [16]:
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ",
                     " MD", " DDS", " DVM", " PhD"]

In [17]:
for word in prefixes_suffixes:
    student_data_df['student_name'] = student_data_df['student_name'].str.replace(word,'')

In [18]:
school_data_complete = pd.merge(student_data_df,school_data_df, on=['school_name', 'school_name'])

In [19]:
student_count = school_data_complete['student_name'].count()

In [20]:
school_count = school_data_df.count()

In [21]:
total_budget = school_data_df['budget'].sum()

In [22]:
print(f"${total_budget:,.2f}")

$24,649,428.00

In [23]:
avg_reading_score=school_data_complete['reading_score'].mean()

In [24]:
avg_math_score = school_data_complete['math_score'].mean()

In [25]:
passing_math = school_data_complete['math_score'] >= 70

In [26]:
passing_reading = school_data_complete['reading_score'] >=70

In [27]:
passing_math = school_data_complete[passing_math]

In [28]:
passing_reading = school_data_complete[passing_reading]

In [29]:
passing_math_count = passing_math['student_name'].count()
passing_reading_count = passing_reading['student_name'].count()

In [30]:
passing_math_count

29370

In [31]:
passing_reading_count

33610

In [32]:
student_count = school_data_complete['Student ID'].count()

In [33]:
passing_math_per = float(passing_math_count)/student_count*100

In [34]:
passing_math_per

74.9808526933878

In [35]:
passing_reading_per = float(passing_reading_count)/student_count*100

In [36]:
passing_reading_per

85.80546336482001

In [37]:
passing_math_reading = school_data_complete[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>=70)]

In [38]:
overall_math_reading_count = passing_math_reading['student_name'].count()

In [39]:
overall_math_reading_count

25528

In [40]:
overall_passing_per = float(overall_math_reading_count)/student_count*100

In [41]:
overall_passing_per

65.17232575950983

In [42]:
district_summary_df = pd.DataFrame({"Total Schools": school_count, "Total Students": student_count,"Total Budget": total_budget,
                                   "Average Math Score":avg_math_score, "Average Reading Score": avg_reading_score,
                                   "% Passing Math": passing_math_per, "% Passing Reading": passing_reading_per, "% Overall Passing":overall_passing_per})

In [43]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School ID,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
school_name,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
type,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
size,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326
budget,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [44]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [45]:
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map("${:,}".format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map("{:.2f}".format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map("{:.2f}".format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map("{:.2f}".format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map("{:.2f}".format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map("{:.2f}".format)

In [46]:
district_summary_df.reset_index(inplace=True)

In [47]:
district_summary_df.drop("index", axis=1, inplace=True)

In [48]:
#school summary

per_school_types = school_data_df.set_index(['school_name'])['type']
df = pd.DataFrame(per_school_types)
per_school_counts = school_data_df.set_index(['school_name'])['size']
per_school_budget = school_data_df.set_index(['school_name'])['budget']
per_school_capita = per_school_budget/per_school_counts
per_school_math = school_data_complete.groupby(['school_name']).mean()['math_score']
per_school_reading = school_data_complete.groupby(['school_name']).mean()['reading_score']

In [49]:
per_school_passing_math = school_data_complete[school_data_complete['math_score']>=70]
per_school_passing_math = per_school_passing_math.groupby(['school_name']).count()['student_name']

In [50]:
per_school_passing_reading = school_data_complete[school_data_complete['reading_score']>=70]

In [51]:
per_school_passing_reading = per_school_passing_reading.groupby(['school_name']).count()['student_name']

In [52]:
per_school_passing_math_per = per_school_passing_math/per_school_counts*100

In [53]:
per_school_passing_reading_per = per_school_passing_reading/per_school_counts*100

In [54]:
per_passing_math_reading = school_data_complete[(school_data_complete['math_score']>=70) & (school_data_complete['reading_score']>=70)]

In [55]:
per_passing_math_reading = per_passing_math_reading.groupby(['school_name']).count()['student_name']

In [56]:
per_overall_passing_percentage = per_passing_math_reading/per_school_counts*100

In [57]:
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1371,1426,90.599455

In [58]:
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map("${:,}".format)

In [59]:
per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map("${:,}".format)

In [60]:
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928",$628.0,77.048432,81.033963,3318,4077,54.642283
Cabrera High School,Charter,1858,"$1,081,356",$582.0,83.061895,83.975780,1749,1803,91.334769
Figueroa High School,District,2949,"$1,884,411",$639.0,76.711767,81.158020,1946,2381,53.204476
Ford High School,District,2739,"$1,763,916",$644.0,77.102592,80.746258,1871,2172,54.289887
Griffin High School,Charter,1468,"$917,500",$625.0,83.351499,83.816757,1371,1426,90.599455
Hernandez High School,District,4635,"$3,022,020",$652.0,77.289752,80.934412,3094,3748,53.527508
Holden High School,Charter,427,"$248,087",$581.0,83.803279,83.814988,395,411,89.227166
Huang High School,District,2917,"$1,910,635",$655.0,76.629414,81.182722,1916,2372,53.513884
Johnson High School,District,4761,"$3,094,650",$650.0,77.072464,80.966394,3145,3867,53.539172
Pena High School,Charter,962,"$585,858",$609.0,83.839917,84.044699,910,923,90.540541
Rodriguez High School,District,3999,"$2,547,363",$637.0,76.842711,80.744686,2654,3208,52.988247
Shelton High School,Charter,1761,"$1,056,600",$600.0,83.359455,83.725724,1653,1688,89.892107
Thomas High School,Charter,1635,"$1,043,130",$638.0,83.418349,83.848930,1525,1591,90.948012
Wilson High School,Charter,2283,"$1,319,574",$578.0,83.274201,83.989488,2143,2204,90.582567
Wright High School,Charter,1800,"$1,049,400",$583.0,83.682222,83.955000,1680,1739,90.333333